html{
	background-color:lightgreen;
}
#main{
	text-align:center;
	padding:10px;
}
p {
    background-color:green;
    text-align:center;
    color:white;
    padding:5px;
    cursor:pointer;
}
div {
	padding:5px;
}
#answer1,
#answer2,
#answer3, 
#answer4,
#answer5,
#answer6
{
	display: none;
}